<div class="row">
    <h1>Experiencia Laboral:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ratione eaque deserunt? Consequatur corrupti earum culpa quibusdam consequuntur voluptatum? Sit veniam nihil officia laborum enim totam eveniet possimus. Tempore, pariatur.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ratione eaque deserunt? Consequatur corrupti earum culpa quibusdam consequuntur voluptatum? Sit veniam nihil officia laborum enim totam eveniet possimus. Tempore, pariatur.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ratione eaque deserunt? Consequatur corrupti earum culpa quibusdam consequuntur voluptatum? Sit veniam nihil officia laborum enim totam eveniet possimus. Tempore, pariatur.</p>
            </li>
        </ul>
    </div>
</div>
