.row{
    padding: 20px;
    background-color: #7BA4C4;
    color: #232946;
}
.proy{
    padding-top: 30px;
}
.contenedor{
    width:auto;
}
.parte1, .parte2{
    display: inline-block;
}
.img-proyecto{
    width: 100%;
    box-shadow: 10px 10px 10px #232946;
}