<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.png"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Mariano de Iriondo</p>
        <p>Full Stack Developer Jr</p>
        <p>Estudiante de Ingenieria Industrial</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Joven con interes por aprender y experiencia en trabajo en equipo.</p>
            <p>Fomento los valores de empatia, solidaridad y compañerismo.</p>
            <p>Intento dar lo mejor de mi en cada situacion.</p>
            <p>Habilidad para el analisis de situaciones, interes y receptividad
            para nuevos proyectos y aprendizajes.
            </p>
        </span>
    </div>
</div>
