<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-light" routerLink="/editarp">
            <i class="bi bi-pencil-fill"></i> Editar Informacion Principal </button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <p>Estudiante de Ingenieria Industrial</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-l-7">
        <span>
            <h1 id="acer">Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div> 
